<!DOCTYPE html>
<html lang="en-US" prefix="dc: http://purl.org/dc/elements/1.1/ dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: CV</title>
        <link rel="canonical" href="http://{{cname}}/">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main.css">
        <script type="application/ld+json" id="james-benner-vcard-jsonld">
{{{vcard}}}
        </script>
    </head>
    <body>
        {{{content}}}
        {{> footer }}
    </body>
</html>
