<!DOCTYPE html>
<html lang="en-US" prefix="dc: https://purl.org/dc/elements/1.1/ dcterms: https://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="James Benner">
        <meta name="description" content="{{description}}">
        <meta property="dcterms:available" content="{{available}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner</title>
        <link rel="canonical" href="https://{{cname}}/">
        <link rel="stylesheet" href="index.css">
        <script type="application/ld+json" id="james-benner-vcard">
        {
            "@context": "https://www.w3.org/2006/vcard/ns#",
            "@type": "Individual",
            "fn": "James Benner",
            "hasEmail": "mailto:james.benner+vcard@gmail.com",
            "hasPhoto": "https://www.gravatar.com/avatar/6270f8c1e26c855c301e44172c36a2c8",
            "hasURL": "https://www.jamesbenner.com/"
        }
        </script>
    </head>
    <body>
        {{{content}}}
        {{> footer }}
        {{> analytics }}
    </body>
</html>
